@tailwind base;
@tailwind components;
@tailwind utilities;
.h-10{
height:5.5rem;
}

@media (min-width: 901px) {
  .searchbar {
    padding:2px;
    margin-top:24px;
    height:44px;
    width:390px;
    border-radius:2rem;
  }
  .search-icon{
    margin-left:289px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
  .searchbar {
    padding:2px;
    margin-top:24px;
    height:44px;
    width:300px;
    border-radius:2rem;
    margin-left:-78px;
  }
  .search-icon{
    margin-left:200px;
    }
    .change{
      margin-left:24px;
    }
    .matha {
    position: unset;
  }
}
@media (max-width: 576px) {
  .searchbar {
    padding:2px;
    margin-top:24px;
    height:40px;
    width:200px;
    border-radius:2rem;
    margin-left:-30px;
  }
  .globe{
    margin-right:10px;
  }
  .search-icon{
    margin-left:162px;
    }
}

.input:focus {
  outline: none;
}
.input {
margin-left:10px;
width:170px;
}
.searchbar {
  border: 2px solid light grey; 
  transition: border-color 0.7s ease;
}

.searchbar:focus-within {
  border-color: red; 
  transition: border-color 1s ease;
}

@media (max-width: 576px) {
    .wanna{
background-color:white;
width:265px;
padding:4px;
border-radius:1.5rem;
height:30px;
border:2px solid #FF6D60;
margin-left:7px;
margin-top:5px;
}
.go{
font-size:17px;
color:#FF6D60;
margin-left:9px;
margin-top:-3px;
}
}
@media (min-width: 768px) {
    .wanna{
background-color:white;
width:500px;;
padding:4px;
border-radius:1.5rem;
height:50px;
border:2px solid #FF6D60;
}
.go{
font-size:29px;
margin-left:30px;
color:#FF6D60;
}
}
@media (max-width: 576px) {
 .help{
  background-color:black;
  color:white;
  border-radius:1.5rem;
  font-size:17px;
  padding:5px;
  padding-left:2px;
  width:165px;
  border:2px solid white;
  margin-top:9px;
 }
 .help:hover{
    
  background-color:purple;
  color:yellow;
  border:2px solid yellow;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.calendar{
  margin-left:-190px;
 }
 .guests{
  margin-left:240px;
 }
 .noofguests{
  margin-left:50px;
 }
 .input{
  width:50px;
 }
 .cancel{
  margin-left:300px;
}
}
@media (min-width: 768px) {
  .help{
   background-color:black;
   color:white;
   border-radius:1.5rem;
   font-size:26px;
   padding:9px;
   padding-left:2px;
   width:237px;
   border:2px solid white            ;
   margin-top:9px;
   transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  }
  .help:hover{
    
    background-color:purple;
    color:yellow;
    border:2px solid yellow;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  }
  .input{
    width:48px;
  }

 }
 .explore{
  color:#FF6D60;
 }
 .live{
  color:#FF6D60;
 }
 .footer{
  padding-left:11.5rem;
 }
 .usericon{
  margin-top:5px;
 }
 .guests{
  color:#FF6D60;
 }